<div>
  <div class="col-xs-6 rsidebar-element">
    <p style="color:#ff7a96">特美100-公众号</p>
    <img src="{{ site.img }}/rsidebar/temei100.jpg"></img>
  </div>
  <div class="col-xs-6 rsidebar-element">
    <p style="color:#ff7a96">团购好货-优惠券</p>
    <img src="{{ site.img }}/rsidebar/tuanhaohuo.jpg"></img>
  </div>
</div>

<div>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8176866190626448"
     data-ad-slot="2299669288"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
