<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ page.description }}。{{ page.author }},{{ page.keywords | replace: ",", "、" | append: ","  | remove: "、," }}">
<meta name="keywords" content="{{ page.keywords }}{{ page.tags }}">
<meta name="author" content="{{ page.author }}">

<title>{{ page.title }}|{{ site.name }}</title>

<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/bootstrap-3.3.7/css/bootstrap.min.css">
<!--link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/bootstrap-3.3.7/css/bootstrap-theme.min.css"-->
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/default.css">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/highlight.css">
<link rel="alternate" type="application/rss+xml" title="{{ site.name}}" href="/feed.xml">

{% include json-ld-no-amp.html %}

<!--Google ads 全局依赖代码 -->
<script async="async" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics 全局依赖代码-->
<script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-105389858-1"></script>
<!-- 需要尽早执行的js代码 -->
<script async="async" src="{{ site.baseurl }}/assets/js/head.js" ></script>
