{% if page.noprenext %}
{% else %}
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="text-align:left;padding:0px">
{% if page.next_in_category %}
<span class="glyphicon glyphicon-chevron-left  symbol"/>上一篇：<a href="{{ site.baseurl }}{{ page.next_in_category.url }}">{{ page.next_in_category.title }}</a>
{% else %}
<span class="glyphicon glyphicon-chevron-left  symbol">开始</span>
{% endif %}
</div>
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="text-align:right;padding:0px">
{% if page.previous_in_category %}
下一篇：<a href="{{ site.baseurl }}{{ page.previous_in_category.url }}">{{ page.previous_in_category.title }}</a><span class="glyphicon glyphicon-chevron-right  symbol"/>
{% else %}
<span class="symbol">结束</span><span class="glyphicon glyphicon-chevron-right symbol"></span>
{% endif %}
</div>
{% endif %}
