<div class="row rsidebar-content">

  <div class="col-xs-12 rsidebar-element searchbar">
    <form action="https://www.google.com/search" class="searchform" method="get" name="searchform" target="_blank">
    <div class="row">
      <div class="col-xs-12 rsidebar-element">
        <input name="sitesearch" type="hidden" value="lijiaocn.com">
        <input autocomplete="on" class="form-controls search" name="q" placeholder="站内搜索" required="required"  type="text">
        <button class="button" type="submit">Google</button>
      </div>
    </div>
    </form>
  </div>

  <div class="col-xs-12 rsidebar-element">
     <a href="{{ site.baseurl }}/about"><img src="{{ site.img }}/logo-430x430.png"></img></a>
  </div>

  <div class="col-xs-12 rsidebar-element">
    <img src="{{ site.img }}/rsidebar/temei100.jpg"></img>
  </div>
  <div class="col-xs-12 rsidebar-element">
    <h3 style="color:#ff7a96">团购好货-淘宝优惠券</h3>
    <img src="{{ site.img }}/rsidebar/tuanhaohuo.jpg"></img>
  </div>

  <div class="col-xs-12 rsidebar-element">
    <!-- temei100-page-rsidebar-1 -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-8176866190626448"
         data-ad-slot="3856471146"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</div>
